
<div id="sketchDemand" class="center-div">
    <link rel="stylesheet" href="~/css/canvasGif.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js"></script> -->
    <script src="~/js/Bubbles/Circle.js"></script>
    <script src="~/js/Bubbles/sketch.js"></script>
    <div id="sketch-holder">
        <img id="bgImage" src="~/assets/giphy.gif" />
        <!-- Our sketch will go here! -->
    </div>
</div>